<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Mobiliaria Nossa Senhora Aparecida</title>
    <link rel="icon" href="/assets/images/icon.png">
</head>

<body>
    <div class="container">

        <%-include("./partials/header.ejs")%>

            <section class="center">


                <% for(let item of content){%>

                    <div class="itemLink">
                        <a href="/product/<%=item.name%>"><img src="<%=item.imgSrc%>" style="<%=item.inlineStyle%>"></a>
                        <a>
                            <h1>
                                <%=item.title%>
                            </h1>
                        </a>
                        <p>
                            <%=item.about%>
                        </p>
                        <p class="preco">
                            <%=item.price%>
                        </p>
                    </div>

                    <%}%>


            </section>

            <%-include("./partials/footer.ejs")%>

    </div>
    <script src="/script/script.js"></script>
</body>

</html>