<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/products/<%=content.name%>.css">
    <title>Mobiliaria Nossa Senhora Aparecida</title>
    <link rel="icon" href="/assets/images/icon.png">
</head>

<body>
    <div class="container">

        <%-include("./partials/header.ejs")%>

            <div class="containerflex">

                <img class="imgleft" src="<%=content.imgSrcPage%>">
                <div class="divright">
                    <h1>
                        <%=content.title%>
                    </h1>
                    <p>
                        <%=content.aboutPage%>
                    </p>
                    <h4>
                        <%=content.price%>
                    </h4>
                    <p class="p2">
                        Interessado na compra ? <br>
                        Entre em contato <br>
                        Whatsapp: +55 32 99999999 <br>
                        Telefone: 32 3571-9999 <br>
                        Email:<a href="mailto:mnsacontato@email.com"> mnsacontato@email.com</a>
                        <br>
                    </p>
                </div>

            </div>

            <%-include("./partials/footer.ejs")%>

    </div>
    <script src="/script/script.js"></script>
</body>

</html>